<% if signed_in? %>
    <aside class='col-lg-2 col-md-3 col-sm-4 col-xs-12'>
      <%= render 'shared/user_sb',user:current_user %>
    </aside>
    <div class='col-lg-10 col-md-9 col-sm-8 col-xs-12'>
      <%= render 'activities/activities',user:current_user %>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to Framgia E-Learning System</h1>

      <%= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>
    </div>

<% end %>

